<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <staticContent>
      <!-- Set proper MIME types -->
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <httpCompression>
      <!-- Enable compression for better performance -->
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
    </httpCompression>

    <httpProtocol>
      <customHeaders>
        <!-- Add security headers -->
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <add name="Referrer-Policy" value="no-referrer-when-downgrade" />
        <!-- Uncomment after configuring HTTPS -->
        <!-- <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" /> -->
        
        <!-- Enable CORS -->
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    
    <rewrite>
      <rules>
        <!-- Redirect to HTTPS (uncomment after configuring HTTPS) -->
        <!-- 
        <rule name="Redirect to HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" />
        </rule>
        -->
        
        <!-- Redirect to WWW (uncomment if preferred) -->
        <!-- 
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^sumatoconsulting.ca$" />
          </conditions>
          <action type="Redirect" url="https://www.sumatoconsulting.ca/{R:1}" redirectType="Permanent" />
        </rule>
        -->
      </rules>
    </rewrite>
    
    <httpErrors errorMode="Custom">
      <!-- Custom error pages -->
      <remove statusCode="404" />
      <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
      <remove statusCode="500" />
      <error statusCode="500" path="/500.html" responseMode="ExecuteURL" />
    </httpErrors>
    
    <caching>
      <!-- Browser caching settings -->
      <profiles>
        <add extension=".html" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" />
        <add extension=".css" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" />
        <add extension=".js" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" />
        <add extension=".svg" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" />
        <add extension=".jpg" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" />
        <add extension=".jpeg" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" />
        <add extension=".png" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" />
        <add extension=".ico" policy="CacheUntilChange" varyByHeaders="Accept-Encoding" />
      </profiles>
    </caching>
  </system.webServer>
  
  <system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="/500.html">
      <error statusCode="404" redirect="/404.html" />
      <error statusCode="500" redirect="/500.html" />
    </customErrors>
    <compilation debug="false" />
    <httpRuntime enableVersionHeader="false" />
    <globalization fileEncoding="utf-8" />
    <healthMonitoring enabled="true">
      <providers>
        <add name="EmailErrorProvider" 
             type="System.Web.Management.SimpleMailWebEventProvider"
             from="errors@sumatoconsulting.ca"
             to="info@sumatoconsulting.ca" 
             subjectPrefix="[Website Error] "
             buffer="false" 
             maxEventsPerMessage="1" />
      </providers>
      <rules>
        <add name="ErrorEmailRule" 
             eventName="All Errors" 
             provider="EmailErrorProvider" 
             profile="Default" 
             minInstances="1" 
             maxLimit="Infinite" 
             minInterval="00:01:00" 
             custom="" />
      </rules>
    </healthMonitoring>
  </system.web>
</configuration>